<li class="list-item--image">
    <img class="profile-image" src="{{user.image}}"/>
    <a class="user-name" href="#profile/{{created_at}}">{{user.name}}</a>
    <span class="item__date">{{date}}</span>
    <p class="item__description">{{description}}</p>
</li>