<li class="list-item--image">
    <img class="profile-image" src="{{created_by.image}}"/>
    <a class="user-name" href="#profile/{{created_by.id}}">{{created_by.name}}</a>
    <span class="item__date">{{date}}</span>
    <p class="item__description">{{description}}</p>
</li>