<div class="project">
    <div class="project__details">
        <h2 class="project__name">{{name}}</h2>
        <a class="project__owner" href="#profile/{{created_by.id}}">
            <img class="profile-image--small" src="{{created_by.image}}"/>
            <span class="project__user-name">{{created_by.name}}</span>
        </a>
    </div>
    <div class="project__sections">
        <a class="project__section" href="#projects/{{id}}/activity">
            <span class="fa fa-comment" aria-hidden="true"></span>
            {{#if newActivity}}
                <span class="indicator--new"></span>
            {{/if}}
            <span class="project__section-title">Team Chat</span>
        </a>
        <a class="project__section" href="#projects/{{id}}/tasks" {{#if taskCount}}data-count="{{taskCount}}"{{/if}}>
            <span class="fa fa-tasks" aria-hidden="true"></span>
            <span class="project__section-title">
                {{#if newTasks}}
                    <span class="indicator--new"></span>
                {{/if}}
                Tasks
            </span>
        </a>
        <a class="project__section" href="#projects/{{id}}/people">
            <span class="fa fa-users" aria-hidden="true"></span>
            {{#if newPeople}}
                <span class="indicator--new"></span>
            {{/if}}
            <span class="project__section-title">Team Members</span>
        </a>
        <a class="project__section" href="#projects/{{id}}/meetups">
            <span class="fa fa-calendar-check-o" aria-hidden="true"></span>
            {{#if newMeetups}}
                <span class="indicator--new"></span>
            {{/if}}
            <span class="project__section-title">Meet up</span>
        </a>
    </div>
</div>