<li class="checkbox-card" data-id="{{task.id}}">
    <div class="task__header">
        <a class="user-name" href="#profile/{{user.id}}">{{user.name}}</a>
        <span class="item__date">{{dateDescription}}</span>
    </div>
    <div class="task__content">
        <input type="checkbox" class="task__checkbox" {{#if task.isComplete}}checked{{/if}} />
        <textarea class="task__description" rows="1">{{task.description}}</textarea>
    </div>
</li>